<h1>
  Add a new session
</h1>


<hr>

<!-- Form session start -->
<form action="/create_session" method="post">
<!-- Form session end -->

  <!-- Label and input for therapist_id start -->
  <div class="form-group">
    <label for="therapist_id">
      Therapist
    </label>

    <!-- Input for therapist_id start -->
    <%= select_tag(:therapist_id, options_from_collection_for_select(User.all, :id, :email, @session.therapist_id), :class => "form-control") %>
    <!-- Input for therapist_id end -->
  </div>
  <!-- Label and input for therapist_id end -->

  <!-- Label and input for patient_id start -->
  <div class="form-group">
    <label for="patient_id">
      Patient
    </label>

    <!-- Input for patient_id start -->
    <input type="text" id="patient_id" name="patient_id" class="form-control">
    <!-- Input for patient_id end -->
  </div>
  <!-- Label and input for patient_id end -->

  <!-- Label and input for date start -->
  <div class="form-group">
    <label for="date">
      Date
    </label>

    <!-- Input for date start -->
    <input type="text" id="date" name="date" class="form-control">
    <!-- Input for date end -->
  </div>
  <!-- Label and input for date end -->

  <!-- Label and input for notes start -->
  <div class="form-group">
    <label for="notes">
      Notes
    </label>

    <!-- Input for notes start -->
    <textarea id="notes" name="notes" class="form-control" rows="3"></textarea>
    <!-- Input for notes end -->
  </div>
  <!-- Label and input for notes end -->

  <!-- Label and input for price start -->
  <div class="form-group">
    <label for="price">
      Price
    </label>

    <!-- Input for price start -->
    <input type="text" id="price" name="price" class="form-control">
    <!-- Input for price end -->
  </div>
  <!-- Label and input for price end -->

  <button class="btn btn-block btn-outline-secondary">
    Create session
  </button>
</form>

<hr>

<a href="/sessions">
  Go back
</a>
