<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Sessions

    <a data-toggle="collapse" href="#patient_sessions_new_form">
      Add session
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @patient.sessions.each do |session| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/sessions/<%= session.id %>">
          <%= session.therapist_id %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <%if current_user == session.therapist %>
          <a href="/delete_session_from_patient/<%= session.id %>">
            Delete
          </a>
        <% end %>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="patient_sessions_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "patient_templates/patient_sessions_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
