<h1>
  Edit patient #<%= @patient.id %>
</h1>

<hr>

<form action="/update_patient/<%= @patient.id %>" method="post">

  <div class="form-group">
    <label for="patient_name">
      Patient name
    </label>

    <input type="text" id="patient_name" name="patient_name" class="form-control" value="<%= @patient.patient_name %>">
  </div>

  <div class="form-group">
    <label for="patient_email">
      Patient email
    </label>

    <input type="text" id="patient_email" name="patient_email" class="form-control" value="<%= @patient.patient_email %>">
  </div>


  <button class="btn btn-block btn-outline-secondary">
    Update patient
  </button>
</form>

<hr>

<a href="/patients">
  Go back
</a>
