<% if @patient.present? %>
  <% if @patient.errors.any? %>
    <% @patient.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new patient
</h1>


<hr>

<form action="/create_patient" method="post">

  <div class="form-group">
    <label for="patient_name">
      Patient name
    </label>

    <input type="text" id="patient_name" name="patient_name" class="form-control" value="<%= @patient.patient_name %>">
  </div>

  <div class="form-group">
    <label for="patient_email">
      Patient email
    </label>

    <input type="text" id="patient_email" name="patient_email" class="form-control" value="<%= @patient.patient_email %>">
  </div>

  <input type="hidden" name="therapist_id" value="<%= current_user.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create patient
  </button>
</form>

<hr>

<a href="/patients">
  Go back
</a>
